.header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    width: 100%;

    img{
        width: 35vw;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .header img{
        width: 70vw;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .header img{
        width: 100vw;
        height: auto;
    }
}